//
// Layouts
// --------------------------------------------------

html,body{height:100%;}
body{
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  @media (max-width: 767px){
    padding: 0;
  }
}

.navbar-fixed-top + .wrapper{ margin-top:$navbarHeight; }

// .home .wrapper.activities .pull-left{
//   // width:50px;
// }

@media (max-width: 767px){
  .solid{
    &.row, &.row-fluid{
      [class*="span"]{
          float: left;
      }
      @include grid-core($gridColumnWidth, $gridGutterWidth);
      @include grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth);
      @include grid-input($gridColumnWidth, $gridGutterWidth);
    }
  }
  .details{
    margin-bottom: 3em;
  }
  .date .lead{
    @include adjust-font-size-to($base-font-size);
    line-height: 2.8em;
  }
}
