#categories{
  li > a{
    @include adjust-font-size-to(11px);
    @include rhythm(4,1.5,1.5,.5, $h3Size);
  }
  .light{
    margin-right: 2em;
  }
  .nav{
    margin: 0;
  }
}
@media (max-width: 767px){
  #categories{
    li > a {
      @include adjust-font-size-to($base-font-size);
      @include rhythm(2.5,1.5,1.5,.5, $h3Size);
    }
    .pull-left{
      float: none;
    }
  }
  .posters.row-fluid{
    margin: 0 0 0 -10px;
    .thumbnails{
      margin: 0 0 0 -10px;
    }
    .span2, .span3, .span4{
      width: 115px;
      margin-bottom: 10px;
    }
    .span5, .span7{
      overflow: scroll;
    }
  }
}
