$flip_time: .2s ease-in-out;
.flip_button{
  cursor: pointer;
  background: rgba(0,0,0,0.6);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
  line-height: 32px;
  color: $white;
  opacity: 0;
  @include transition(all  $flip_time);
  @include transform(rotateY(180deg));
  @include border-radius(100%);
  @include scale(0.8);
  &:hover{
    color: $white;
    text-decoration: none;
    @include scale(1);
  }

  .flippant-back &{
  }

  .flipped &{
    display: none;
  }

  .flippant-back &{
    @include transform(rotateY(0));
    display: block;
    opacity: 1;
    position: relative;
    z-index: 10000;
    float: right;
  }
  .back &{
    display: none;
  }
}

.flip_container{
  .back{
    display: none;
  }
}
*{
  position: relative;
  &:hover{
    > .flip_button{
      opacity: 1;
    }
  }
}

.flippant {
  @include transform(perspective(500px) rotateY(0deg));
  /*z-index: 200;*/
}

.flippant-back {
  @include transform(perspective(500px) rotateY(-180deg));
  height: 0;
  font-size: .94em;
  /*z-index: 200;*/
  h6{
    margin: 0.5em 0 0 0;
  }
  p{
    margin-top: 1em;
  }
}

.flippant, .flippant-back, .flip_container{
  @include transform-style(preserve-3d);
  @include backface-visibility(hidden);
}

.flippant, .flipper {
  @include transition(all $flip_time);
}

.flippant.flipped {
  @include transform(perspective(500px) rotateY(180deg));
}

.flippant-back.flipped  {
  @include transform(perspective(500px) rotateY(0deg));
}

.flippant-modal-dark, .flippant-modal-light {
  // @include transform(perspective(500px) rotateY(0deg));
  position: fixed;
  margin: 0;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background: rgba(0,0,0,0.9);
  @include box-sizing(border-box);
  @include border-radius(0);
  @include box-shadow(none);
  padding:0.2em 0.5em;
}

.flippant-modal-dark, .flippant-modal-dark p { color: white;}

.flippant-modal-light {
  background: rgba(230,230,230,0.7);
  @include box-shadow(3px 3px 6px rgba(0,0,0,0.3));
  @include border-radius(5px);
  border: 1px solid #aaa;
}
