.jumbotron{
  position: relative;
  padding: 0;
  .full_bleed{
    position: relative;
    z-index: 2;
    width:100%;
    padding-top:0;
    .cta{
      padding: 1em;
    }
    .image{
      display: block;
      width: 100.01%;
      overflow: hidden;
      img{
        @extend %zoomin_slow;
        min-width: 100%;
      }
      &::before{
        content:none;
        @include box-shadow(none);
      }
    }
    .movie{
      width:20%;
      margin:0;
      padding: 0;
      float: left;
    }
  }
  .solid{
    img{
      @extend %fadein;
      margin: 0 auto;
      min-width: 100%;
      @include transition(all 1s ease);
    }
  }

  .btn-entrance{
    @extend .btn-large;
    @extend .btn-block;
    @extend .btn-rounded;
    &.film{
      @include button(darken($btnPrimaryBackground,20%));
    }
    &.video{
      @include button($btnPrimaryBackground);
    }
  }

}
