.navbar-fixed-bottom, .navbar-fixed-top,.navbar-static-top{
  .navbar-inner{
    @include box-shadow(none);
  }
}

.navbar-inner{
  @include background($navbarBackground);
  border:1px solid $navbarBorderColor;
}

.navbar-form{
  margin-left: 8px;
  input{
    font-size: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn{
    margin-left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
