.player{
  position: relative;
  .icon.icon-play{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    text-align: left;
    &::before{
      @include transition(all 0.3s ease);
      font-size: 1em;
      color: white;
      z-index: 10;
      position: absolute;
      top: 50%;
      line-height: 0;
      width:100%;
      text-align: center;
      text-shadow:0 0 20px rgba(0,0,0,0.5);
      // background: $blue;
      // @include opacity(80);
    }
  }
  &:hover{
    .icon.icon-play::before{
      // @include opacity(100);
      // @include scale(1.1);
      // font-size: 1.05em;
    }
  }
}
.oversize{
  .player{
    font-size: 8em;
  }
}
