.search{
  i.icon-search{
    cursor: pointer;
    background: none;
    position: absolute;
    line-height: 1.6;
    font-size: 20px;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    text-align: center;
    & + input.search-query{
      font-size: 12px;
      box-sizing:border-box;
      height: 30px;
      width: 30px;
      opacity: 0;
      z-index: 100;
      position: relative;
      &:focus{
        opacity: 1;
        width: 150px;
      }
    }
  }
}

.search .search-query,
.navbar-inverse .search .search-query{
  @include transition(all 0.5s ease);
  padding: 5px 15px;
  border:0;
  line-height: 2;
}
