
@import "compass";

body{
  -webkit-font-smoothing: antialiased;
  min-width: 940px;
}
.container {
  width: 1200px;
}
.page .page-header h1.logo{
  display: inline-block;
  margin: 0;
  width: 200px;
  height: 50px;
  background: transparent url(/images/logo.png) no-repeat center;
  background-size: contain;
  vertical-align: top;
  text-indent: -1000000%;
  font-size: 0;
  line-height: 0;
  opacity: .8;
}

.page hr{
  border-top: 1px solid #CDD6DB;
}


.page label{
/*  display: inline-block;*/
  width: 160px;
}

.page .hull-form-field{
  margin-bottom: 10px;
}
.page .hull-form-field-error{
  color: #AA4646;
  margin:0 0 0 120px;
  font-size: 0.6em;
}





/*Generic hull design*/
body {
    margin: 0;
    background: #292E37;
}

.page{
  color: white;
}
.page{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

.page a {
    color: #373F4A
}

.page p {
    margin: 10px 0
}

.github-ribbon {
    position: fixed;
    top: 46px;
    right: -50px;
    z-index: 100;
    display: block;
    padding: 5px 50px;
    background: rgba(255,255,255,.8);
    color: #999;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

// .page .btn {
//     display: block;
//     padding: 4px 24px;
//     border: 0;
//     border-radius: 8px;
//     background: rgba(0,0,0,.3);
//     color: #fff;
//     vertical-align: bottom;
//     font-weight: 700;
//     /*line-height: 0;*/
//     text-shadow:none;
//     text-decoration: none;
//     cursor: pointer
// }

// .page .btn:hover {
//     color:white;
//     background: rgba(0,0,0,.1);
// }

// .page .btn:active {
//   color: #eee;
// }

.alert-info {
  
}

[data-hull-widget="footer@hull"]{text-align: left;}
  [data-hull-widget="footer@hull"] small{ font-size: 13px;}
  .project-footer{ background-color:#fff; }


.white-bg {
  padding: 1em;
}

/** First column **/
// .icons .btn {
//   padding: 10px;
//   margin: 0 10px 10px 10px;
//   width: 50px;
//   height: 50px;
// }
// 
// 
.icons{
  width:100%
}
.row-fluid .topic{
  @include transition(all .5s ease);
  &.active{
    @include border-radius(2px);
    left:50%;
    margin-left:-200px;
    position: relative;
    width: 400px;
  }
  &.hidden{
    display: none;
  }
}

.hull-conversations {
  min-height: 570px;
}
.hull-participants__header h2 {
  font-size: 18px;
}
.hull-participants__header .btn {
  display: none;
}
.hull-conversation__participants {
  margin-bottom: 20px;
}
.hull-conversation__form button, .hull-identity__signin button {
  margin-bottom: 6px;
}
.hull-conversation__form form button {
  float: right;
}

.hull-conversations .conversations-empty {
  font-size: 20px;
  margin-top: 80px;
}
.hull-participants__list .media {
  display: inline-block;
}
.hull-messages__list {
  padding-top: 14px;
  margin-top: 14px;
  border-top: 2px solid #FBFBFC;
}
.hull-messages__list .media-heading {
  text-align: left;
}
.hull-messages__list .text-success {
  border-radius: 2px;
  padding: 3px;
  color: white;
  background: #4DB1E3;
}
.hull-messages__description {
  text-align: left;
}
.hull-messages__actions {
  float: right;
}

// .newConvo input, .newConvo textarea, .newConvo header {
//   display: block;
//   text-align: left;
//   width: 525px;
// }
// .newConvo textarea {
//   height: 100px;
// }
// .newConvo label {
//   text-align: left;
// }


.icons .subject{
  display: block;
  margin: 1em auto;
  cursor: pointer;
}


.avatar, .img-rounded{
  width:50px;
  height:50px;
  @include border-radius(100%);
}

.media{
  margin:1em 0;
  color: white;
}

[data-hull-action]{
  cursor: pointer;
}


.convo_entry{
  position: relative;
  textarea{
    height: 50px;
    border: none;
    @include box-shadow(none);
    @include border-radius(2px);
    & + .btn{
      display: none;
      position: absolute;
      right: 10px;
      bottom: 15px;
      @include transition(all .2s ease);
      @include opacity(.5);
      &:hover{
        @include opacity(1);
      }
    }
    &:focus{
      height: 60px;
      & + .btn{
        display: block;
      }
    }
  }
}

.page-header{
  border-bottom: rgba(255,255,255,.2);
}
.convo_list{
  height: 250px;
  overflow: scroll;
  margin-bottom: 50px;
}

.topic{
  .back_link{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 11em;
    font-weight: bold;
    color:white;
    text-shadow:none;
  }
  &.active{
    .back_link{
      display: block;
    }
  }
}

.topic .well{
  background:rgba(0,0,0,.3);
  border:none;
  position: relative;
  overflow-x:hidden;
  @include box-shadow(none);
  .new_convo{
    position: absolute;
    bottom: 0;
  }
}

.topic .well{
  margin-top: 2em;
  .cols{
    position: relative;
    width:100%;
    @include transition(all .2s ease);
    .threads{
      width: 100%;
      height: 100%;
      left:0;
    }
    .convo{
      position: absolute;
      @include transition(all .2s ease);
      left:110%;
      width: 100%;
      top:0;
    }
    &.selected{
      margin-left: -110%;
      // .convo{
      //   left:0;
      // }
    }
  }
}

.well{
  &::after{
    content: '';
    display: inline-block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(0,0,0,.3);
    position: absolute;
    top: -15px;
    left: 126px;
  }
}
