<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Hull Conversations Widget</title>


    <link rel="stylesheet" href="//hullstrap.s3.amazonaws.com/stylesheets/hullstrap.css">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">

<script type="text/javascript" src="//use.typekit.net/jyf4qww.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//hullstrap.s3.amazonaws.com/javascripts/hullstrap.js"></script>

    <script src="http://hull-js.s3.amazonaws.com/develop/hull.js"></script>


    <script src="/javascripts/vendors.js"></script>
    <script src="/javascripts/app.js"></script>


    <script type="text/x-template" data-hull-template="conversation/form">
      {{#if loggedIn}}
        <form>
          <div class='media' data-hull-conversation-id="{{conversation.id}}">
            <div class="pull-left">
              <img class="media-object avatar" src="{{me.picture}}" alt="{{me.name}}">
            </div>
            <div class="media-body message_entry">
              <textarea name='description' class="input-block-level" rows="3" placeholder="Send a message... "></textarea>
              <button data-hull-action="message" class="btn btn-small">
                <i class="icon icon-trash"></i>
                {{#if isNew}}Send{{else}}Reply{{/if}}
              </button>
            </div>
          </div>
        </form>
      {{else}}
        <div data-hull-widget="login_button@hull"></div>
      {{/if}}
    </script>

    <script type="text/x-template" data-hull-template="conversation/conversation">

      {{#if errors.conversation}}
        <div class="alert alert-error">Unable to retrieve the conversation</div>
      {{else}}
        {{#if conversation}}

          <div class="page-header">
            {{#if conversation.isDeleteable}}
              <button data-hull-action="deleteConvo" data-hull-id="{{conversation.id}}" class="btn btn-small pull-right">
                <i class="icon icon-trash"></i>
                Delete conversation
              </button>
            {{/if}}
            <h5>
              {{conversation.name}}
              <small>{{conversation.messages_count_unread}}/({{conversation.messages_count}})</small>
            </h5>
          </div>

          {{#if conversation.notification_enabled}}
            <form class="hull-conversation__notifications">
              <input type="checkbox" data-hull-action="notification" name="user_notification" {{#if conversation.notification_enabled_user}}checked{{/if}}> notify
            </form>
          {{/if}}

 
            {{#if messages}}
              <ul class="media-list">
                {{#messages}}
                  <li class="media" data-hull-message-id="{{id}}">
                    <div class="pull-left">
                      <img class="avatar media-object" src="{{actor.picture}}" width="50" alt="{{actor.name}}">
                    </div>
                    <div class="media-body">
                      <small class="muted pull-right">{{formatTime updated_at "h:mm A"}}</small>
                      <h6 class="media-heading">
                        <small class="new_message">★</small>
                        {{actor.name}}
                      </h6>
                      <p> {{body}} </p>
                      <div class="hull-messages__actions">
                          {{#if isDeletable}}
                            <small>
                              <a href="#" class='link' data-hull-action="deleteMsg" data-hull-id="{{id}}">Delete</a>
                            </small>
                          {{/if}}
                      </div>
                    </div>
                  </li>
                {{/messages}}
              </ul>
            {{/if}}

            {{> conversation.form}}
        {{/if}}
      {{/if}}
    </script>

    <script type="text/x-template" data-hull-template="conversation_form/form">
      <form class="navbar-form">
        {{#if loggedIn}}
          <input type="text" name="name" placeholder="New thread"></input>
          <button data-hull-action="create" class="btn bold">+</button>
        {{else}}
          <div data-hull-widget="login_button@hull"></div>
        {{/if}}
      </form>
    </script>
    
    <script type="text/x-template" data-hull-template="conversations/conversations">
        {{#each conversations}}
          <div class="media item">
            <a class="pull-left" href="#">
              <img class="media-object avatar" src="{{actor.picture}}">
            </a>
            <div class="media-body" data-hull-action="pickConvo" data-hull-id="{{id}}">
              <h5 class="media-heading">{{name}}</h5>
              <small><i class="icon icon-power"></i> {{messages_count}}</small>
              ·
              <small><i class="icon icon-sun_stroke"></i> {{formatTime updated_at 'h:mm a'}}</small>
            </div>
          </div>
        {{else}}
          {{#if errors.conversations}}
            <div class="alert alert-error">
              Unable to retrieve the conversations.
            </div>
          {{/if}}
        {{/each}}
    </script>

    <script type="text/x-template" data-hull-template="subjects/list">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="dropdown">
                <a href="" title="" class="dropdown-toggle" data-toggle="dropdown">
                  Topic
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {{#each subjects}}
                    <li>
                      <a>
                        <img src="images/icons/{{name}}.png" class="subject {{name}}" data-hull-action="select" data-hull-uid="{{name}}" width="20"/>
                        {{name}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div data-hull-widget="conversations@hull" class="topics" data-hull-visibility="public" data-hull-uid="{{name}}"></div>
      <div class="navbar navbar-fixed-bottom">
        <div data-hull-widget="conversation_form" class="navbar-inner new_conversation">
      </div>
    </script>


  </head>

  <body>
    <!-- <a href="http://github.com/hull/hull-conversations" class="github-ribbon">Fork me on GitHub</a> -->

    <div class="sidebar" data-hull-widget="subjects"> </div>

    <div class="conversation_container">
      <div class="conversation" data-hull-widget="conversation@hull"></div>
    </div>

  </body>
</html>
